# APP ENVIRONMENT
APP_HOST='localhost'
APP_PORT=8000

# SIGNATURE TOKEN 
ACESS_TOKEN_SECRET='sWph+sRms5JtuXRAAT1t1FlEqpGrh1y7Luzgh8ovV98='
REFRESH_TOKEN_SECRET='d88a0d6e0624f07d210196c26e32ea290efd779f29c9cf81bba26c096402960d'

# DATABASE ENVIRONMENT

DATABASE_URL="file:./database/database.db"
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_USER=
# DATABASE_PASSWORD=
# DATABASE_NAME=
# DATABASE_DIALET=


# GOOGLE AUTHORIZATION SERVER

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

NODE_ENV=