# APP ENVIRONMENT
APP_HOST='localhost'
APP_PORT=8000

# ENVIROMENT
NODE_ENV='development'

# SIGNATURE TOKEN 
ACESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# DATABASE ENVIRONMENT

DATABASE_URL="file:./database/database.db"
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_USER=
# DATABASE_PASSWORD=
# DATABASE_NAME=
# DATABASE_DIALET=


# GOOGLE AUTHORIZATION SERVER

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

