# Node modules
node_modules/

# Environment variables
*.env

# Dependency files (optional if using lockfile)
package-lock.json

# build development
/dist

# Database files and migrations
prisma/database/
prisma/migrations/

# Google Client Scret
/client_secret.json
