# Node modules
node_modules/

# Environment variables
*.env

# Dependency files 
package-lock.json

# Database files and migrations
prisma/database/

# Google Client Scret
/client_secret.json

#EditorConfig
editorconfig

#ESLint Ignore
eslint.config.mts

# Build files
build/
